<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Relax Bro!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='styles/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='styles/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='styles/css/my_fonts.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='styles/vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"> -->

    <!-- Custom CSS -->
    <!-- <link href="css/stylish-portfolio.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='styles/css/stylish-portfolio.min.css') }}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Relax Bro!</h1>
            <h3 class="mb-5">
                <em color="#33DAFF">Don't be mean or you will be notified.</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger">Listen</a>
        </div>
        <div class="overlay"></div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/stylish-portfolio.min.js') }}"></script>
    <!-- <script src="js/stylish-portfolio.min.js"></script> -->

</body>

</html>